/* habiba */
.label {
    color: white;
}

/*hassan*/
nav{
    background: rgb(99, 98, 98);
}

.d-flex{
    display: flex;
    justify-content: space-between;
}

img{
    width: 100px;
}

ul{
    list-style: none;
}

li{
    padding-right: 30px;
    padding-top: 5px;
}

a{
    text-decoration: none;
    color: aliceblue;
}

/*ahmed*/
body{
    background-color: #1e1e1e;
}

.logo2{
    position: fixed;
    height: auto;
    left: 0px;
   float: left;
   margin-left: 650px;
   margin-top: 100px;
}

select{
    height: 30px ;
    background-color: rgb(255, 196, 59);
}
