/* habiba */
.label {
    color: white;
}

/*hassan*/
nav{
    background: rgb(99, 98, 98);
}

.d-flex{
    display: flex;
    justify-content: space-between;
}

img{
    width: 100px;
}

ul{
    list-style: none;
}

li{
    padding-right: 30px;
    padding-top: 5px;
}

a{
    text-decoration: none;
    color: aliceblue;
}

/*ahmed*/
body{
    background-color: #1e1e1e;
}

.logo2{
    position: fixed;
    height: auto;
    left: 0px;
   float: left;
   margin-left: 650px;
   margin-top: 100px;
}

select{
    height: 30px ;
    background-color: rgb(255, 196, 59);
}

/** Feryal**/

  .container {
    display: flex;
    align-items: center;
  }
  .rectangle {
    width: 5px;
    height: 100px;
    margin-left: 50px;
    background-color: rgb(234, 184, 33);
    position: relative;
  }
  .rectangle::before,
  .rectangle::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 100%; 
  }
  .rectangle::after {
    right: 0;
  }
  .quote {
    margin-left: 15px;
    font-family: Times New Roman, sans-serif;
    font-size: 25px;
    color: rgb(255, 255, 255);
  }
